# App Config
APP_ENV=development
APP_PORT=5030
APP_URL=http://localhost:5030
APP_FRONTEND=http://localhost:3000
JWT_SECRET=thT9x1TP9y2022Serv1ceis
JWT_EXPIRE=1d

# Database Config
DB_URI=mongodb://localhost:27017/blaix-data-service
DB_USER=
DB_USER_PWD=
DB_HOST=localhost
DB_NAME=blaix-data-service
DB_PORT=27017

# Redis Config
REDIS_HOST=localhost
REDIS_PORT=6379

# Paystack Config
PAYSTACK_API_URL=https://api.paystack.co
PAYSTACK_API_KEY=your_paystack_key

# Monnify Config
MONNIFY_API_URL=https://sandbox.monnify.com/api/v1
MONNIFY_API_KEY=your_monnify_api_key
MONNIFY_SECRET_KEY=your_monnify_secret_key
